<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Password Generator</Name>
    <Version>1.0.0</Version>
    <Title>Password Generator Installer</Title>
    <Publisher>Neocle</Publisher>
    <StartMenuDir>PasswordGenerator</StartMenuDir>
    <TargetDir>@HomeDir@/PasswordGenerator</TargetDir>
    <WizardStyle>Classic</WizardStyle>
    <StyleSheet>stylesheet.qss</StyleSheet>
</Installer>